@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
}

html {
    
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.discordapp.com/attachments/926172814220857395/1076248489010413609/IMG_4202.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}